In [3]:
# Core data libraries
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Settings for better visuals
plt.style.use("seaborn-v0_8")
sns.set(rc={"figure.figsize": (10, 6)})

In [4]:
# Load raw data (with ipl folder included)
matches = pd.read_csv("../data/raw/ipl/matches.csv")
deliveries = pd.read_csv("../data/raw/ipl/deliveries.csv")

# Quick check
print("Matches shape:", matches.shape)
print("Deliveries shape:", deliveries.shape)

matches.head(), deliveries.head()

Matches shape: (636, 18)
Deliveries shape: (150460, 21)

(   id  season       city        date                        team1  \
 0   1    2017  Hyderabad  2017-04-05          Sunrisers Hyderabad
 1   2    2017       Pune  2017-04-06               Mumbai Indians
 2   3    2017     Rajkot  2017-04-07                Gujarat Lions
 3   4    2017     Indore  2017-04-08       Rising Pune Supergiant
 4   5    2017  Bangalore  2017-04-08  Royal Challengers Bangalore

                          team2                  toss_winner toss_decision  \
 0  Royal Challengers Bangalore  Royal Challengers Bangalore         field
 1       Rising Pune Supergiant       Rising Pune Supergiant         field
 2        Kolkata Knight Riders        Kolkata Knight Riders         field
 3              Kings XI Punjab              Kings XI Punjab         field
 4             Delhi Daredevils  Royal Challengers Bangalore           bat

    result  dl_applied                       winner  win_by_runs  \
 0  normal           0          Sunrisers Hyderabad           35
 1  normal           0       Rising Pune Supergiant            0
 2  normal           0        Kolkata Knight Riders            0
 3  normal           0              Kings XI Punjab            0
 4  normal           0  Royal Challengers Bangalore           15

    win_by_wickets player_of_match                                      venue  \
 0               0    Yuvraj Singh  Rajiv Gandhi International Stadium, Uppal
 1               7       SPD Smith    Maharashtra Cricket Association Stadium
 2              10         CA Lynn     Saurashtra Cricket Association Stadium
 3               6      GJ Maxwell                     Holkar Cricket Stadium
 4               0       KM Jadhav                      M Chinnaswamy Stadium

           umpire1        umpire2  umpire3
 0     AY Dandekar       NJ Llong      NaN
 1  A Nand Kishore         S Ravi      NaN
 2     Nitin Menon      CK Nandan      NaN
 3    AK Chaudhary  C Shamshuddin      NaN
 4             NaN            NaN      NaN  ,
    match_id  inning         batting_team                 bowling_team  over  \
 0         1       1  Sunrisers Hyderabad  Royal Challengers Bangalore     1
 1         1       1  Sunrisers Hyderabad  Royal Challengers Bangalore     1
 2         1       1  Sunrisers Hyderabad  Royal Challengers Bangalore     1
 3         1       1  Sunrisers Hyderabad  Royal Challengers Bangalore     1
 4         1       1  Sunrisers Hyderabad  Royal Challengers Bangalore     1

    ball    batsman non_striker    bowler  is_super_over  ...  bye_runs  \
 0     1  DA Warner    S Dhawan  TS Mills              0  ...         0
 1     2  DA Warner    S Dhawan  TS Mills              0  ...         0
 2     3  DA Warner    S Dhawan  TS Mills              0  ...         0
 3     4  DA Warner    S Dhawan  TS Mills              0  ...         0
 4     5  DA Warner    S Dhawan  TS Mills              0  ...         0

    legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
 0            0            0             0             0           0
 1            0            0             0             0           0
 2            0            0             0             4           0
 3            0            0             0             0           0
 4            0            0             0             0           2

    total_runs  player_dismissed dismissal_kind fielder
 0           0               NaN            NaN     NaN
 1           0               NaN            NaN     NaN
 2           4               NaN            NaN     NaN
 3           0               NaN            NaN     NaN
 4           2               NaN            NaN     NaN

 [5 rows x 21 columns])

In [5]:
matches.shape, deliveries.shape

((636, 18), (150460, 21))

In [10]:
matches.head(15)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
10,11,2017,Kolkata,2017-04-13,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,8,SP Narine,Eden Gardens,A Deshmukh,NJ Llong,NaN
11,12,2017,Bangalore,2017-04-14,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,KA Pollard,M Chinnaswamy Stadium,KN Ananthapadmanabhan,AK Chaudhary,NaN
12,13,2017,Rajkot,2017-04-14,Rising Pune Supergiant,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,7,AJ Tye,Saurashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
13,14,2017,Kolkata,2017-04-15,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kolkata Knight Riders,17,0,RV Uthappa,Eden Gardens,AY Dandekar,NJ Llong,NaN
14,15,2017,Delhi,2017-04-15,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Delhi Daredevils,51,0,CJ Anderson,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN

In [11]:
deliveries.head(15)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
14,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,1,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [13]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [14]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [18]:
# Missing Values Check

matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

In [19]:
deliveries.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    143022
dismissal_kind      143022
fielder             145091
dtype: int64

In [21]:
matches["season"].unique()

array([2017, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016])

In [22]:
deliveries["inning"].unique()

array([1, 2, 3, 4])

In [23]:
matches.describe(include="all")

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
count,636.000000,636.000000,629,636,636,636,636,636,636,636.000000,633,636.000000,636.000000,633,636,635,635,0.0
unique,NaN,NaN,30,450,14,14,14,2,3,NaN,14,NaN,NaN,201,35,44,45,NaN
top,NaN,NaN,Mumbai,2012-04-19,Mumbai Indians,Delhi Daredevils,Mumbai Indians,field,normal,NaN,Mumbai Indians,NaN,NaN,CH Gayle,M Chinnaswamy Stadium,HDPK Dharmasena,SJA Taufel,NaN
freq,NaN,NaN,85,2,82,84,85,363,626,NaN,92,NaN,NaN,18,66,73,54,NaN
mean,318.500000,2012.490566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025157,NaN,13.682390,3.372642,NaN,NaN,NaN,NaN,NaN
std,183.741666,2.773026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.156726,NaN,23.908877,3.420338,NaN,NaN,NaN,NaN,NaN
min,1.000000,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,159.750000,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
50%,318.500000,2012.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,4.000000,NaN,NaN,NaN,NaN,NaN
75%,477.250000,2015.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,20.000000,7.000000,NaN,NaN,NaN,NaN,NaN
max,636.000000,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,146.000000,10.000000,NaN,NaN,NaN,NaN,NaN

In [24]:
deliveries.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000
mean,318.281317,1.482188,10.142649,3.616483,0.000538,0.037498,0.004885,0.022232,0.004340,0.000066,1.222445,0.069022,1.291466
std,182.955531,0.501768,5.674338,1.807698,0.023196,0.257398,0.114234,0.200104,0.072652,0.018229,1.594509,0.349667,1.583240
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,161.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,319.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,476.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,636.000000,4.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000

In [25]:
set(deliveries["match_id"]).issubset(set(matches["id"]))  #•	Ensure all match_id in deliveries exist in matches.

True

## Data Pre-Processing

Goal: Make raw data usable for analysis/modeling.

Happens before modeling and often guided by insights from EDA.

It’s about cleaning and standardizing.

Typical steps:

    - Handling missing values (NaN, blanks).

    - Removing duplicates.

    - Converting data types (string → datetime, object → numeric).

    - Encoding categorical variables (one-hot, label encoding).

    - Normalization/standardization of numerical features.

    - Splitting data into train/test sets.

⚙️ Think of preprocessing as housekeeping: you’re tidying the data so algorithms won’t choke.

### Data Cleaning for Matches.csv

In [26]:
# 1) Basic overview
matches.head()
matches.info()
matches.isna().sum()

# 2) Type fixes
matches["date"] = pd.to_datetime(matches["date"], errors="coerce")
matches["dl_applied"] = matches["dl_applied"].astype("int64")  # keep as 0/1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [27]:
matches.info()                                    # dtypes + Non-Null counts
matches.isna().sum().sort_values(ascending=False) # how many NaNs per column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    datetime64[ns]
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(11)
memory usage: 89.6+ KB

umpire3            636
city                 7
winner               3
player_of_match      3
umpire2              1
umpire1              1
venue                0
win_by_wickets       0
win_by_runs          0
id                   0
season               0
result               0
toss_decision        0
toss_winner          0
team2                0
team1                0
date                 0
dl_applied           0
dtype: int64

In [28]:
cols_to_drop = [c for c in ["umpire3"] if c in matches.columns]  # only drop if present
matches = matches.drop(columns=cols_to_drop)                      # remove useless empty cols

In [29]:
matches.head(5)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN

In [30]:
# Convert 'date' text → datetime; invalid values become NaT (safe)
matches["date"] = pd.to_datetime(matches["date"], errors="coerce")

# Ensure DL flag is integer 0/1 (sometimes comes as object)
matches["dl_applied"] = matches["dl_applied"].astype("int64")

In [31]:
matches.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan

In [32]:
# Strip leading/trailing spaces and normalize multiple spaces → single space
for col in ["team1", "team2", "toss_winner", "winner", "venue", "city", "toss_decision", "result"]:
    matches[col] = matches[col].astype(str).str.strip().str.replace(r"\s+", " ", regex=True)

In [33]:
matches.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan

In [34]:
# Keep historical names as-is (no renaming to today's franchises), just fix known typos
team_fix = {
    "Rising Pune Supergiants": "Rising Pune Supergiant",  # Kaggle inconsistency
    # add more if you see them during EDA
}
for col in ["team1", "team2", "toss_winner", "winner"]:
    matches[col] = matches[col].replace(team_fix)

In [35]:
matches.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan

In [38]:
# Fill missing city intelligently from venue (safe mapping)

# Build a venue→city map from rows that already have both values
v2c = (matches[~matches["city"].isna()][["venue", "city"]]
       .drop_duplicates()
       .set_index("venue")["city"].to_dict())

In [39]:
matches.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan

In [40]:
# For rows with city missing, try to fill from the venue→city map
mask_city_na = matches["city"].isna()
matches.loc[mask_city_na, "city"] = matches.loc[mask_city_na, "venue"].map(v2c)

# If any city still missing (rare), fill with "Unknown" (or keep NaN if you prefer)
matches["city"] = matches["city"].fillna("Unknown")

In [41]:
matches.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan

In [43]:
# Winner / player_of_match consistency for “no result”

# If result is 'no result', winner and player_of_match are expected to be NaN → keep as-is.
# If you prefer explicit labels (optional), uncomment:
# nores = matches["result"].str.lower().eq("no result")
# matches.loc[nores & matches["winner"].isna(), "winner"] = "No Result"
# matches.loc[nores & matches["player_of_match"].isna(), "player_of_match"] = "None"

In [44]:
 # Sanity checks (duplicates, remaining NaNs)
    
# Match ID should be unique
dup_ids = matches.duplicated(subset=["id"]).sum()
print("Duplicate match IDs:", dup_ids)            # expect 0

# Remaining missing values by column
matches.isna().sum().sort_values(ascending=False)

Duplicate match IDs: 0

player_of_match    3
umpire2            1
umpire1            1
dl_applied         0
venue              0
win_by_wickets     0
win_by_runs        0
winner             0
id                 0
season             0
toss_decision      0
toss_winner        0
team2              0
team1              0
date               0
city               0
result             0
dtype: int64

In [47]:
from pathlib import Path

# Define output path for cleaned matches file
OUT = Path("../data/processed/matches_clean.csv")

# Ensure directory exists
OUT.parent.mkdir(parents=True, exist_ok=True)

# Save cleaned dataset
matches.to_csv(OUT, index=False)
print(f"Saved cleaned matches → {OUT}")

Saved cleaned matches → ../data/processed/matches_clean.csv

### CLeaning the Deliveries.csv

In [50]:
from pathlib import Path
import pandas as pd
import numpy as np

RAW_DEL = Path("../data/raw/ipl/deliveries.csv")          # raw deliveries
OUT_DEL = Path("../data/processed/deliveries_clean.csv")  # cleaned output

deliv = pd.read_csv(RAW_DEL)                               # load
print(deliv.shape)                                         # (rows, cols)
deliv.head(3)                                              # quick peek

(150460, 21)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [51]:
deliv.info()                                               # dtypes + non-nulls
deliv.isna().sum().sort_values(ascending=False)            # missing values per column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

fielder             145091
dismissal_kind      143022
player_dismissed    143022
bye_runs                 0
total_runs               0
extra_runs               0
batsman_runs             0
penalty_runs             0
noball_runs              0
legbye_runs              0
match_id                 0
inning                   0
is_super_over            0
bowler                   0
non_striker              0
batsman                  0
ball                     0
over                     0
bowling_team             0
batting_team             0
wide_runs                0
dtype: int64

In [53]:
# Strip whitespace in text columns (safe normalization)

text_cols = ["batting_team","bowling_team","batsman","non_striker","bowler",
             "player_dismissed","dismissal_kind","fielder"]
for c in text_cols:
    deliv[c] = deliv[c].astype(str).str.strip().replace({"nan": np.nan})

In [54]:
# Team name standardization (same as matches)

team_fix = {
    "Rising Pune Supergiants": "Rising Pune Supergiant",
    # add more if you spot them during EDA
}
for c in ["batting_team","bowling_team"]:
    deliv[c] = deliv[c].replace(team_fix)

In [57]:
# Type fixes for numeric columns

int_like = ["match_id","inning","over","ball","is_super_over",
            "wide_runs","bye_runs","legbye_runs","noball_runs","penalty_runs",
            "batsman_runs","extra_runs","total_runs"]
for c in int_like:
    deliv[c] = pd.to_numeric(deliv[c], errors="coerce").astype("Int64")  # nullable ints

# quick sanity after coercion
deliv[int_like].isna().sum().sort_values(ascending=False)

match_id         0
inning           0
over             0
ball             0
is_super_over    0
wide_runs        0
bye_runs         0
legbye_runs      0
noball_runs      0
penalty_runs     0
batsman_runs     0
extra_runs       0
total_runs       0
dtype: int64

In [58]:
deliv.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [59]:
deliv.isna().sum().sort_values(ascending=False)

fielder             145091
dismissal_kind      143022
player_dismissed    143022
bye_runs                 0
total_runs               0
extra_runs               0
batsman_runs             0
penalty_runs             0
noball_runs              0
legbye_runs              0
match_id                 0
inning                   0
is_super_over            0
bowler                   0
non_striker              0
batsman                  0
ball                     0
over                     0
bowling_team             0
batting_team             0
wide_runs                0
dtype: int64

In [60]:
# If there are any NaNs after coercion, that means the raw file had bad values—usually rare. so, dropping such corrupted rows carefully:

bad_numeric = deliv[int_like].isna().any(axis=1)
print("Rows with invalid numeric values:", bad_numeric.sum())
deliv = deliv.loc[~bad_numeric].copy()
for c in int_like:
    deliv[c] = deliv[c].astype("int64")  # back to regular int after drop

Rows with invalid numeric values: 0

In [61]:
# Logical consistency checks and fixes

# A) Extras + batsman_runs should equal total_runs

bad_totals = deliv[(deliv["batsman_runs"] + deliv["extra_runs"]) != deliv["total_runs"]]
print("Rows with inconsistent totals:", len(bad_totals))
# If any appear (rare), recompute total_runs from components:
deliv["total_runs"] = deliv["batsman_runs"] + deliv["extra_runs"]

# B) No negative runs anywhere

num_cols = ["wide_runs","bye_runs","legbye_runs","noball_runs",
            "penalty_runs","batsman_runs","extra_runs","total_runs"]
neg_rows = (deliv[num_cols] < 0).any(axis=1)
print("Rows with negative values:", neg_rows.sum())
deliv = deliv.loc[~neg_rows].copy()


# C) Over/ball range sanity

# over should be 1..20 (super overs are flagged separately)
bad_over = ~deliv["over"].between(1, 20)
print("Rows with invalid over number:", bad_over.sum())
deliv = deliv.loc[~bad_over].copy()

# ball should be >=1 (can exceed 6 due to wides/no-balls that don't count)
bad_ball = deliv["ball"] < 1
print("Rows with invalid ball number:", bad_ball.sum())
deliv = deliv.loc[~bad_ball].copy()

Rows with inconsistent totals: 0
Rows with negative values: 0
Rows with invalid over number: 0
Rows with invalid ball number: 0

In [62]:
# Wicket flag for easier modeling (helper feature; optional to keep)

# If player_dismissed has a name, that ball had a wicket
deliv["is_wicket"] = deliv["player_dismissed"].notna().astype("int8")
deliv["dismissal_kind"] = deliv["dismissal_kind"].fillna("not_out")  # clearer label for later grouping

In [64]:
# Integrity with matches (foreign-key check)

# Load cleaned matches ids (ensure you saved matches_clean.csv first)
matches_clean = pd.read_csv("../data/processed/matches_clean.csv", usecols=["id"])
valid_ids = set(matches_clean["id"].unique())

missing_fk = ~deliv["match_id"].isin(valid_ids)
print("Deliveries with unknown match_id:", missing_fk.sum())
deliv = deliv.loc[~missing_fk].copy()

Deliveries with unknown match_id: 0

In [65]:
# Final null review (should be only in optional text fields)

deliv.isna().sum().sort_values(ascending=False).head(10)

fielder             145091
player_dismissed    143022
match_id                 0
inning                   0
dismissal_kind           0
total_runs               0
extra_runs               0
batsman_runs             0
penalty_runs             0
noball_runs              0
dtype: int64

In [66]:
# Save cleaned deliveries

OUT_DEL.parent.mkdir(parents=True, exist_ok=True)
deliv.to_csv(OUT_DEL, index=False)
print(f"Saved cleaned deliveries → {OUT_DEL}")

Saved cleaned deliveries → ../data/processed/deliveries_clean.csv

In [67]:
# Quick reload verification

test_deliv = pd.read_csv(OUT_DEL)
print(test_deliv.shape)
test_deliv.head(2)

(150460, 22)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,is_wicket
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,not_out,NaN,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,not_out,NaN,0